[project]
	description = Automatically exported from code.google.com/p/swt-text-editor
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/LoveIsStuff
[access "refs/for/refs/*"]
	read = group user/LoveIsStuff
	push = group user/LoveIsStuff
	label-Code-Review = -2..+2 group user/LoveIsStuff
	label-Verified = -1..+1 group user/LoveIsStuff
	rebase = group user/LoveIsStuff
	removeReviewer = group user/LoveIsStuff
	submit = group user/LoveIsStuff
[access "refs/heads/*"]
	read = group user/LoveIsStuff
	create = group user/LoveIsStuff
	push = +force group user/LoveIsStuff
	pushMerge = group user/LoveIsStuff
[access "refs/tags/*"]
	push = +force group user/LoveIsStuff
	pushTag = group user/LoveIsStuff
	pushSignedTag = group user/LoveIsStuff
